<div class="container text-center">
  <p>
      Donate using QGIV!
  </p>
  <div class="qgiv-embed-container" data-qgiv-embed="true" data-embed-id="49725" data-embed="https://secure.qgiv.com/for/yknmis/embed/49725/" data-width="564"></div>
  <!-- <script>QGIV.Embed.init();</script> -->
</div>